html {
  height: 100%;
  width: 100%;
  background-color: black;
}

main {
  background-color: black;
}

header {
  text-align: center;
}

.container h1 {
  color: red;
  text-align: center;
}

.container h2 {
  color: red;
  text-align: center;
}

#headArea {
  border: 3px solid red;
  padding: 5px;
  margin-top: 13px;
}

